version: '3.8'

services:
  elastic-search:
    image: elasticsearch:8.5.1
    environment:
      - xpack.security.enabled=false
      - "discovery.type=single-node"
    networks:
      - es-net
    env_file:
      - .env
    ports:
      - ${ELASTIC_PORT}:${ELASTIC_PORT}
    volumes:
      - dataesdev01:/usr/share/elasticsearch/data
  node-engine:
    image: service-engine
    build:
      context: .
      dockerfile: Engine-search-service/deploy/develop/Dockerfile
    env_file:
      - .env
    ports:
      - ${ENGINE_SEARCH_PORT}:${ENGINE_SEARCH_PORT}
    volumes:
      - ./Engine-search-service/:/app
    tty: true
    depends_on:
      - elastic-search
    networks:
      - es-net
    entrypoint: ["/bin/bash", "-c"]
    command: ["npm ci && npm run build && npm run start:dev"]

volumes:
  dataesdev01:
    driver: local
networks:
  es-net:
    driver: bridge
